@model LearnDotNetCore.ViewModels.Articles.ArticlesDetailViewModel

<div class="row">
    <div class="col-md-3">Nazwa</div>
    <div class="col-md-9">@Model.Name</div>
</div>

<div class="row">
    <div class="col-md-3">Publikacja</div>
    <div class="col-md-9">@Model.PublicationDate</div>
</div>

<div class="row">
    <div class="col-md-3">Tresc</div>
    <div class="col-md-9">@Model.Content</div>
</div>

